@import "../../../styles/colors.scss";

.iconbutton {
  margin-left: 0.8rem;
  display: flex;
  align-items: center;
  background: $mainColor;
  border: none;
  cursor: pointer;

  &__icon {
    font-size: 24px;
    color: $lightColor;
  }
}
