@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.board {
  padding: 7% 1.2rem 1.2rem;

  .grid {
    @include card;
    display: flex;
    flex-wrap: wrap;
    animation: fade_in_animation 0.5s linear;
  }
}

@keyframes fade_in_animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
