@import "../../../styles/colors.scss";

.textfield {
  display: block;
  margin: 0.6rem;
  font-weight: bold;
  color: $darkColor;

  &__input {
    width: 100%;
    display: block;
    margin-top: 0.5rem;
    padding: 0.7rem;
    font-size: 12pt;
    border: 1px solid $mainColor;
    border-radius: 0;
    box-sizing: border-box;

    &--invalid {
      border-color: red;
    }
  }
}
