@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background: $shadow;

  article {
    @include card;
    flex: 1;
  }
}
