@import "../../../styles/colors.scss";

.button {
  margin: 0.6rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  background: $mainColor;
  color: $lightColor;
  cursor: pointer;
}
